#greeting {
    position: relative;
    background-image: url(./img/북극곰.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;

    height: 1000px;
    transform: translate(0%, 0%);
}
.greetingBox{
    position: absolute;
    left: 50%;
    margin-top: 80px;
    transform: translate(-50%, -50%);

    width: 600px;
    height: 350px;

    background-color: rgba(255, 255, 255, 0.862);
    box-shadow: 3px 3px 4px rgb(63, 63, 63);

}
.greetingIn{
    padding: none;
    position: absolute;
    left: 50%;
    margin-top: 385px;
    transform: translate(-50%, -50%);

    color: rgb(0, 0, 0);
    background: transparent;

    width: 800px;
    text-align: center;

    align-items: center; /* 자식 요소를 세로 방향 가운데 정렬 */
    justify-content: center; /* 자식 요소를 가로 방향 가운데 정렬 */
}
.greetingTatle{
    background: transparent;
    font-weight: 900;
    margin-top: 35px;
    margin-bottom: 10px;
    font-size: 1.5rem;
}
.greetingTaxt{
    background: transparent;
    font-size: 1.2rem;
    margin-bottom: 20px;
}
hr{
    width: 200px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}
.name{
    margin-top: 15px;
    background: transparent;
    font-size: 0.9rem;
    
}
.bold{
    background: transparent;
    margin-left: 3px;
    font-weight: 700;
    font-size: 1.05rem;
}